.gauge_grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10vh;
    grid-template-rows: auto;
    grid-template-areas:
        "gauge_cell gauge_cell gauge_cell";
}

.gauge_cell {
  max-width: 250px;
}
