:root {
    --main_color: #F6F8FF;
}

body {
    background: var(--main_color);
    display: block;
}

.plotly-graph-div, .table{
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
}


.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    height: 100vh;
    min-width: 150px;
    box-sizing: border-box;
    background-color: #595d6e;
}

.sidebar img {
    width: 5vw;
    filter: blur(1px) drop-shadow(2px 2px);
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4b68e3;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  grid-area: content;
  padding: 1px 5px;
  height: 2000px;
}

element.style {
 height: 100%;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}