:root {
    --main_color: #F6F8FF;
}

body {
    background: var(--main_color);
    display: block;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 10vw;
  min-width: 100px;
  background-color: #595d6e;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4b68e3;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  margin-left: 10vw;
  padding: 1px 5px;
  height: 800px;
  display: block;
}

element.style {
 height: 100%;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}