:root {
  --main_color: #f6f8ff;
}

@font-face {
  font-family: 'digital-7';
  src: url('fonts/digital-7.ttf');
}

body {
  /* background: var(--main_color); */
  background: rgb(31, 35, 113);
  background: linear-gradient(
    0deg,
    rgba(31, 35, 113, 1) 0%,
    rgba(17, 17, 17, 1) 7%,
    rgba(17, 17, 17, 1) 100%
  );
  display: block;
}

.plotly-graph-div,
.table {
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar content";
}

.sidebar, .settings-sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 150px;
  max-width: 10vw;
  box-sizing: border-box;
  background: rgb(31, 35, 113);

  background: linear-gradient(
    0deg,
    rgba(31, 35, 113, 1) 0%,
    rgba(17, 17, 17, 1) 7%,
    rgba(20, 17, 94, 1) 100%
  );  

}

.settings-sidebar {
  background: rgb(21, 68, 105);
}

.sidebar img {
  width: 5vw;
  filter: blur(1px) drop-shadow(2px 2px);
}

.sidebar button, .settings {
  border: none;
  background-color: #13115700;

  display: block;
  color: white;

  padding: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.sidebar button.active {
  background-color: #4b68e3;
  color: white;
}

.sidebar button:hover:not(.active) {
  background-color: #11415e;
  color: white;
}

.content {
  grid-area: content;
  padding: 1px 5px;
  color: rgb(59, 30, 185);
}

#timestamp{
  margin-top: 50px;
  margin-right: 200px;
  text-align: right;
}

#aquapi-plot{
    height: 70vh;
}

element.style {
  height: 100%;
}

#settings-iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.settings-ph-gauge{
  height: auto;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

h1, h2, .ph_value, .ph-calibration-item {
  padding: 16px;
  text-decoration: none;
  font-size: 5vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: left;
}

h2 {
  font-size: 2vh;
}
.ph_value {
  font-family: 'digital-7';
}

label, input, p {
  font-size: 1.5vh;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
  height: 100%;
  width: auto;
  align-items: center;
}

.ph-calibration-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.ph-calibration-item, .ph-calibration-item-title {
  font-family: digital-7;
  font-size: 3.5vh;
  color: #285b9c;
  height: 100%;
}

.ph-calibration-item-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white; 
  font-size: 3vh;
}