<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
</head>
<body>
  <table>
    <thead>
      <tr class="green">
        {%for col in head_columns%}
          <th>{{col}}</th>
        {%endfor%}
      </tr>
    </thead>
    <tbody>
      {%for row in rows%}
        <tr>
          {%for cell in row%}
              <td>{{cell}}</td>
          {%endfor%}
        </tr>
      {%endfor%}
    </tbody>
  </table>
<div id="end_of_table"></div>
</body>
</html>
